body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0;
    background: #F7F1E5;

}

.header {
    background-color: #E7B10A;
    display: flex;
    justify-content: space-between;
}

.logo {
    
    font-size: 48px;
    font-weight: bolder;
    color: #4C4B16;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 16px;
    font-size: 28px;
}
.left, .right {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 16px;
}

.first {
    display: flex;
    justify-content: space-around;
}
img {
height: auto;
width: 500px;
}

.second, .third {
    text-align: center;
}

.image {
    display: flex;
}
